body {
  background-color: #98f2fa ;
}
.main {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  max-width: 1400px;
  padding: 50px;
  background-color: cornsilk;
}
img {
  border-radius: 24px;
  margin-left: 250px;
  margin-right: 250px;
}
.back {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.navoi {
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 25px;
}